@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff");
  font-weight: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensansbold.woff");
  font-weight: bold;
}
