.contacts {
  padding-top: 35px;
  margin-bottom: 40px;
}

.contacts__button {
  display: block;
  margin: 0 auto;
  max-width: 255px;
  text-align: center;
  padding: 14px 0;
  font-size: 18px;
  line-height: 20px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 28px;
}

.contacts__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 30px 30px 30px;
}

.contacts__item:last-child {
  margin-bottom: 37px;
}

.contacts__info {
  min-width: 78px;
  max-width: 80px;
}

.contacts__value {
  font-size: 15px;
  line-height: 30px;
}

.contacts__value_link {
  line-height: 25px;
}

.contacts__map {
  max-height: 457px;
  margin-top: 37px;
  margin-bottom: 39px;
  background-color: #f3e8d9;
}

.contacts__img {
  margin: 0 auto;
  display: block;
}
