.site-nav,
.user-nav {
  display: none;
}

.form {
  padding-top: 22px;
  padding-bottom: 40px;
  margin-bottom: 16px;
}

.form__inner {
  box-sizing: border-box;
  padding: 0 30px;
  position: relative;
  margin: 0 auto;
}

.form__desc {
  color: $greyish;
  font-size: 13px;
  line-height: 24px;

  margin: 0 auto 22px auto;
}

.form__item {
  border: 0;
  padding: 0;

  box-sizing: border-box;
  margin: 0 auto 29px auto;
}

.form__fildset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__item_call {
  margin-bottom: 30px;
}

.form__title {
  display: block;
  width: 100%;
  position: relative;
  color: $seafoam;
  font-size: 0;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.form__title_mail,
.form__title_call {
  margin-bottom: 5px;
}

.form__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
}

.form__text::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  margin-left: 30px;
  background-color: $seafoam;
}

.form__checkbox {
  padding-bottom: 1px;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  padding: 14px 0 0 14px;
  resize: none;
  border: 2px solid #000000;

  &:hover {
    border-color: $seafoam;
  }

  &:active {
    border-color: $seafoam;
  }
}

.form__name {
  padding-top: 5px;
  margin-bottom: 24px;
}

.form__info {
  display: block;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.form__name:last-child {
  margin-bottom: 0;
}

.form__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
  padding: 12px 0 11px 0;

  &:hover {
    border-color: $seafoam;
    color: $seafoam;
  }

  &:active {
    border-color: $seafoam;
    color: $seafoam;
  }
}

.form__row .form__input {
  padding: 0;
  border: 0;
}

.form__input {
  box-sizing: border-box;
  border: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #000000;
  padding: 16px 0 17px 0;

  &:hover {
    border-color: $seafoam;
  }

  &:active {
    border-color: $seafoam;
  }
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: $greyish-lite;
  font-size: 17px;
  line-height: 18px;
}

.form__svg-phone {
  color: inherit;
  width: 50px;
  height: 24px;
}

.form__svg-mail {
  color: inherit;
  width: 47px;
  height: 31px;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin: -19px 0 31px 0;
}

.form__button {
  padding: 14px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .form {
    padding-bottom: 49px;
  }

  .form__inner {
    padding: 0 52px;
  }

  .form__desc {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 58px;
  }

  .form__text {
    &::after {
      display: none;
    }
  }

  .form__item {
    position: relative;
    margin-bottom: 49px;
    padding: 0 0 0 166px;

    &:last-child {
      margin-bottom: 47px;
    }
  }

  .form__item_color {
    padding: 50px 50px 25px 218px;
    background-color: #f1f1f1;
    margin: 0 -52px 50px -52px;
  }

  .form__item_color .form__title {
    left: 52px;
    top: 66px;
  }

  .form__title {
    position: absolute;
    margin: 0;
    top: 16px;
    left: 0;
    width: auto;
  }

  .form__fildset .form__title_call,
  .form__fildset .form__title_mail {
    left: -166px;
    top: 15px;
  }

  .form__name {
    display: flex;
    align-items: center;
    padding-top: 0;
    margin-bottom: 23px;
  }

  .form__info {
    font-size: 19px;
    font-weight: bold;
    line-height: 19px;
  }

  .form__fildset {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .form__input {
    padding-left: 18px;
    margin-left: 24px;
  }

  .form__row {
    padding: 12px 17px 14px 0;
  }

  .form__flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__button {
    order: -1;
    max-width: 230px;
  }

  .form__note {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .form {
    padding-bottom: 30px;
  }

  .form__inner {
    padding: 0;
  }

  .form__desc {
    padding: 0 112px;
    width: 700px;
  }

  .form__item {
    padding-left: 112px;
    margin-bottom: 49px;
    padding-right: 110px;
    width: 920px;

    &:last-child {
      margin-bottom: 45px;
    }
  }

  .form__item_inner + .form__title {
    left: -3px;
  }

  .form__item_color {
    width: 100%;
    margin: 0 0 49px 0;
    padding: 50px 0 24px 0;
    box-sizing: border-box;
  }

  .form__item_inner {
    width: 920px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    padding-right: 23px;
    padding-left: 110px;
  }

  .form__item_inner .form__title {
    left: -5px;
    top: 14px;
  }

  .form__row {
    padding-right: 0;
  }

  .form__fildset {
    padding-right: 90px;

    &:last-child {
      margin-bottom: 21px;
    }
  }

  .form__fildset .form__title_call,
  .form__fildset .form__title_mail {
    left: -111px;
  }

  .form__flex-box {
    padding-left: 113px;
    padding-right: 123px;
    width: 920px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .form__name {
    margin-bottom: 25px;
  }
}
