.page {
  color: $greyish;
  font-family: "opensans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  min-width: 320px;
}

.page-title {
  color: #010000;
  line-height: 30px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  margin: 0 32px 0 31px;
  max-width: 500px;
}
