.page {
  color: $greyish;
  font-family: "opensans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  min-width: 320px;
}

.page__svg {
  display: none;
}
