.page-header {
  align-items: center;
  border-top: 1px solid $tear;
  // margin-bottom: 37px;
  margin-bottom: 7px;
}

.page-header__inner {
  position: relative;

  @include container;
  max-width: none;
}

.page-header__top {
  padding: 21px 0 16px 0;
  position: relative;
}

.page-header__link {
  display: block;
  margin: 0 auto;
  max-width: 86px;
  max-height: 35px;
}

.page-header__site-nav,
.page-header__user-nav,
.page-header__filter-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__filter-nav {
  display: none;
}

.page-header__text {
  display: none;
}

.page-header__toggle {
  position: absolute;
  display: block;
  right: 0;
  top: 40px;
  margin: -10px 30px 0 0;
  width: 20px;
  padding: 7px 0;
  background-color: transparent;
  box-sizing: border-box;
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
}

.page-header__toggle-gamburger {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000000;
}

.page-header__toggle-gamburger::after,
.page-header__toggle-gamburger::before {
  position: absolute;
  display: block;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.page-header__toggle-gamburger::after {
  top: -7px;
}

.page-header__toggle-gamburger::before {
  bottom: -7px;
}

@media (min-width: 768px) {
  .page-header {
    margin-bottom: 0;
  }

  .page-header__inner {
    display: flex;
  }

  .page-header__top {
    width: 372px;
  }

  .page-header__link {
    max-width: 114px;
    max-height: 48px;
    margin: 0 0 0 51px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__site-nav {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    padding: 17px 0 0 50px;
    display: flex;
    justify-content: flex-start;
    min-width: 372px;
  }

  .page-header__user-nav {
    display: flex;
    flex-grow: 1;
  }

  .page-header__text {
    position: absolute;
    display: block;
    z-index: 1;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 17px 49px 0 0;
    color: $greyish;
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 1150px) {
  .page-header__site-nav {
    order: -1;
    position: relative;
    z-index: auto;
    top: auto;
    left: auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    min-width: 372px;
  }

  .page-header__top {
    width: 283px;
    padding: 8px 0 16px 0;
  }

  .page-header__link {
    margin: 0 0 0 33px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-header__filter-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 17px 0 0 50px;
    min-width: 420px;
  }
}
