.signature {
  display: flex;
  justify-content: center;
}

.signature__desc {
  color: #000000;
  font-size: 19px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 4px;
}

.signature__img {
  margin-left: 24px;
}
