.site-nav__item {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid $tear;
  text-align: left;
}

.site-nav__item:last-child {
  border-bottom: 0;
}

.site-nav__link {
  display: block;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  padding: 28px 0 26px 76px;
  margin: 0 -30px;
}

.svg1 {
  color: #447744;
  :hover {
    color: #123f45;
  }
}

.site-nav__text {
  display: block;
  max-width: 260px;
  margin: 0 auto;
}

@media (min-width: 772px) {
  .site-nav__item {
    padding: 0;
    border: 0;
    width: auto;

    &:last-child {
      margin-left: 35px;
    }
  }

  .site-nav__link {
    font-size: 15px;
    line-height: 24px;
  }
}
