.welcome {
  background-color: #f1f1f2;
  text-align: center;
}

.welcome_common {
  padding: 71px 0 0 0;
}

.welcome__inner {
  @include container;
  max-width: none;
}

.welcome_toys {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 71px;
  // border-top: 1px solid #ededed;
}

@media (min-width: 768px) {
  .welcome {
    position: relative;
    margin-bottom: 47px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      margin: 0 auto;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 23px;
      background-image: url("../img/zigzag-fill-desktop-svg.svg");
      background-position: center;
      background-size: auto 23px;
      background-repeat: repeat;
    }
  }

  .welcome__inner {
    padding: 0 50px;
  }

  .welcome_toys {
    padding: 153px 0 0 0;
    background-position: center top;
    background-size: auto;
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  .welcome__goods-nav {
    display: flex;
  }

  .welcome_common {
    padding: 96px 0 81px 0;
    margin-bottom: 47px;
  }
}

@media (min-width: 1150px) {
  .welcome {
    margin-bottom: 72px;

    &::after {
      bottom: -19px;
      height: 34px;
      background-size: auto;
      background-repeat: repeat;
    }
  }

  .welcome__goods-nav {
    display: flex;
  }

  .welcome_common {
    padding-bottom: 98px;
    margin-bottom: 101px;
  }
}

@media (min-resolution: 1.5dppx) and (min-width: 320px) {
  .welcome_toys {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: auto 75%;
  }
}

@media (min-resolution: 1.5dppx) and (min-width: 768px) {
  .welcome_toys {
    background-size: auto;
  }
}
