.welcome {
  background-color: #f9f9f9;
  text-align: center;
}

.welcome_common {
  padding: 71px 0 76px 0;
}

.welcome__fond {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -127px -18px;
  padding-top: 70px;
  padding-bottom: 122px;
  // border-top: 1px solid #ededed;
}

.welcome__text {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 18px 51px 0 0;
  color: $greyish;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: 772px) {
  .welcome__fond {
    padding: 155px 0 0 0;
    min-height: 472px;
    background-position: center top;
    background-size: auto;
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  .welcome__goods-nav {
    display: flex;
    margin: 0 52px;
  }
}
