.button {
  color: $greyish;
  border: solid 2px $greyish;
  background-color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  padding: 20px 0;
  text-transform: uppercase;
}

.button:hover {
  color: #ffffff;
  background-color: $greyish;
}

.button:active {
  background-color: $greyish;
  color: fade-out(#ffffff, 0.3);
}
