@font-face{
  font-family: "opensans";
  src: url('../fonts/opensans.woff');
  font-weight: normal;
}
@font-face{
  font-family: "opensans";
  src: url('../fonts/opensansbold.woff');
  font-weight: bold;
}

$black: #000;
$black06: fade-out($black,.6);
$black03: fade-out($black,.3);
$white: #fff;
$tear: #ececec;
$greyish: #444444;
$greyish-lite: rgba(68, 68, 68, 0.3);
$seafoam: #63d1bb;
$seafoam-blue: #63d1bb;
$seafoam-lite: #59d5bc;
$greeny: #56c3b2;
$greeny-lite: #46c1ae;
$blue-green: #149080;

@import "hidden/hidden";
@import "page/page";
@import "container/container";
@import "container/container__side";
@import "button/button";
@import "link/link";
@import "link/link_size-m";
@import "mail-link/mail-link";
@import "title/title";
@import "page-title/page-title";
@import "page-header/page-header";
@import "page-header/page-header__logo";
@import "page-header/page-header__toggle";
@import "page-header/page-header__toggle-close";
@import "page-header/page-header__toggle-gamburger";
@import "page-footer/page-footer";
@import "menu/menu";
@import "menu/menu__item";
@import "menu/menu__link";
@import "menu/menu__item_basket";
@import "menu/menu__item_search";
@import "welcome/welcome";
@import "welcome/welcome_small-house";
@import "goods-nav/goods-nav";
@import "goods-nav/goods-nav__button";
@import "goods-nav/goods-nav__button_greeny";
@import "goods-nav/goods-nav__button_seafoam";
@import "goods-nav/goods-nav__button_lamp";
@import "goods-nav/goods-nav__button_lego";
@import "goods-nav/goods-nav__desc";
@import "goods-best/goods-best";
@import "goods-best/goods-best__title";
@import "goods-best/goods-best__subtitle";
@import "goods-best/goods-best__details";
@import "goods-best/goods-best__desc";
@import "goods-best/goods-best__item";
@import "goods-best/goods-best__img";
@import "goods-best/goods-best__price";
@import "goods-best/goods-best__button";
@import "details/details";
@import "details/details__item";
@import "details/details__info";
@import "details/details__value";
@import "about/about";
@import "about/about__title";
@import "about/about__list";
@import "about/about__item";
@import "about/about__item_flower";
@import "about/about__item_money";
@import "about/about__item_heart";
@import "about/about__item_clew";
@import "about/about__item_rocket";
@import "about/about__item_present";
@import "reviews/reviews";
@import "reviews/reviews__title";
@import "reviews/reviews__slider";
@import "reviews/reviews__button";
@import "slider/slider";
@import "slider/slider__slide";
@import "slider/slider__desc";
@import "slider/slider__name";
@import "slider/slider__login";
@import "slider/slider__controls";
@import "controls/controls";
@import "controls/controls__button";
@import "controls/controls__button_left";
@import "controls/controls__button_right";
@import "contacts/contacts";
@import "contacts/contacts__title";
@import "contacts/contacts__item";
@import "contacts/contacts__info";
@import "contacts/contacts__value";
@import "contacts/contacts__map";
@import "contacts/contacts__button";
@import "contacts/contacts__img";
@import "contacts/contacts__value_link";
@import "social/social";
@import "social/social__list";
@import "social/social__item";
@import "signature/signature";
@import "signature/signature__img";
@import "signature/signature__desc";
