.page-header__toggle {
  position: absolute;
  display: block;
  right: 0;
  top: 40px;
  margin: -10px 30px 0 0;
  width: 20px;
  padding: 7px 0;
  background-color: transparent;
  box-sizing: border-box;
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
}
